<% project.forEach((ele)=>{%>
    <h3>
        <!-- add attribute which you want to render -->
        <%=ele.ad_name%> , <%=ele.p_word%>  
    </h3>
    <%});%>
        <!-- whatever you write in href , should be handled in app.get() route -->
        <!-- href ask server to send sign_up i.e it creates a get request to server -->
        <h1><a href="sign_up">ADD MORE USERS</a></h1>
        <h1><a href=""></a></h1>